<p class="title">Education</p>
<ul class="exper-list">
  <li class="meta">
    <p class="company">University of California, San Diego</p>
    <p class="description">Masters in Computer Science</p>
    <p class="date">2021 &ndash; 2023</p>
    <a class="description" style="color:#33A8FF" href="https://www.proquest.com/openview/cdb6e923ee3d6d82ed84eaa5b9852495/1?pq-origsite=gscholar&cbl=18750&diss=y">Thesis: Foundations of Model Agnostic Recourse Verification</a>
  </li>
  <li class="meta">
    <p class="company">University of Texas at Austin</p>
    <p class="description">Bachelors in Mathematics and Economics</p>
    <p class="description">Minor: Computer Science</p>
    <p class="date">2011 &ndash; 2016</p>
  </li>
</ul>
