<p class="title">{{ site.theme_settings.news_title }}</p>
<ul class="interests-list">
  <li>
    <p class="date"> June 2022 </p>
    <p class="interest"> I am beginning research with Dr. Berk Ustun and Dr. Lily Weng on recourse  </p>
  </li>
  <li>
    <p class="date"> Aug 2021 </p>
    <p class="interest"> I started my master's at UCSD </p>
  </li>
  <li>
    <p class="date"> Feb 2021 </p>
    <p class="interest"> I am named as one of the <a style="color:blue" href="https://www.deepmind.com/scholarships">DeepMind Fellows </a> for 2021 </p>
  </li>
</ul>
