<p class="title">{{ site.theme_settings.news_title }}</p>
<ul class="interests-list">
 <li>
    <p class="date"> August 2025 </p>
    <p class="interest"> Deeply humbled to hear many of LLM Evals expert Shreya Shankar's favorite topics  are covered in our most  
    <a style="color: #33A8FF" href="https://x.com/sh_reya/status/1961208765468049568?s=46&t=kDjive6kJISR2xJ-5SlH6Q">recent paper</a>!
    </p>
    </p>
  </li>
 <li>
    <p class="date"> March 2025 </p>
    <p class="interest"> Check out new my blogpost about
    <a style="color: #33A8FF" href="{{ site.baseurl }}/2025/03/10/constitutional-classifiers.html">Constitutional Classifiers</a>!
    </p>
    </p>
  </li>
</ul>
