<p class="title">Poster Presentations</p>
<ul class="posters-list">
  <li class="pres">
    <p class="pres-title"> <b style="font-size: 14.90px"> NeurIPS </b> Workshop Statistical Foundations of LLMs and Foundation Models</a> </p>
    <p class="pres-date">December 2024</p>
  </li>
  <li class="pres">
    <p class="pres-title"> <b style="font-size: 14.90px">ICML </b> Workshop on Data-centric Machine Learning Research </a> </p>
    <p class="pres-date">July 2023</p>
  </li>
  <li class="pres">
    <p class="pres-title"> <b style="font-size: 14.90px">ICML </b> Workshop on Spurious Correlations, Invariance and Stability </a> </p>
    <p class="pres-date">July 2023</p>
  </li>
  <li class="pres">
    <p class="pres-title"> <b style="font-size: 14.90px">ICML </b> Workshop on Artificial Intelligence & Human Computer Interaction </a> </p>
    <p class="pres-date">July 2023</p>
  </li>
</ul>
