<p class="title"> Publications </p>
<ul class="pubs-list">
  <li class="pubs">
    <p class="pub-title"> <a href="https://arxiv.org/abs/2308.12820"> Prediction without Preclusion: Recourse Verification with Reachable Sets </a> </p>
    <p class="pub-authors"> Avni Kothari*, Bogdan Kulynych*, Lily Weng, and Berk Ustun</p>
    <p class="pub-date"> ICLR (Spotlight), 2024</p>
    <p class="pub-description"> Individuals can be assigned predictions that they
    cannot change through actions on their features.  This paper investigates and formalizes scenarios
of predictions without recourse. We argue the importance of these scenarios for both model development and recourse
detection methods.</p>
  </li>
</ul>
