<p class="title"> Publications </p>
<ul class="pubs-list">
  <li class="pubs">
    <p class="pub-title"> On Predictions Without Recourse </p>
    <p class="pub-authors"> <b class="pub-me"> Avni Kothari </b>, Berk Ustun, Lily Weng</p>
    <p class="pub-date"> Pre-print Dec 2022</p>
    <p class="pub-description"> Recourse is not always obtainable for all individuals. This paper investigates and formalizes scenarios
of no recourse. We argue the importance of these scenarios for both model development and recourse
detection methods.</p>
  </li>
</ul>
