{% if site.data.profile.skills %}
  <p class="title">Skills</p>
  <ul class="skill-list">
    {% for sk in site.data.profile.skills %}
    <p class="name" style="font-weight: 550; padding-top: 10px; margin-left: 4%">{{ sk.title }}</p>
    <li class="skill" style="margin-left: 4%;"> {{sk.value_1 }} </li>
    <li class="skill" style="margin-left: 4%;"> {{sk.value_2 }} </li>
    <li class="skill" style="margin-left: 4%;"> {{sk.value_3 }} </li>
    {% if sk.value_4 %}
      <li class="skill" style="margin-left: 4%;"> {{sk.value_4 }} </li>
    {% endif %}
    {% if sk.value_5 %}
      <li class="skill" style="margin-left: 4%;"> {{sk.value_5 }} </li>
    {% endif %}
    {% if sk.value_6 %}
    <li class="skill" style="margin-left: 4%;"> {{sk.value_6 }} </li>
    {% endif %}
    {% if sk.value_7 %}
    <li class="skill" style="margin-left: 4%;"> {{sk.value_7 }} </li>
    {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endif %}
